.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
}
#code-column {
    position: relative;
    padding: 2rem;
    top: 0;
}
#code-column-content {
    position: fixed;
    height: 100%;

}