
:root{
    /* if you want to use variables, you can use them like so */
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #4B4B4B; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#2980b9; /* Color of links */
    --MAIN-LINK-HOVER-color:#409ad5; /* Color of hovered links */
    --MAIN-ANCHOR-color: #409ad5; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#ffffff; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#33a1ff; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#167ad0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:##8E8E8E; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#ffffff; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #1473E6 ; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #409ad5;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
    --NAVBAR-width: 300px; /* The width of all block elements in the left bar */
}

#test {color:red}

/* set up 2nd and 3rd columns */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }

  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    width:50%;
  }
  
  .flex-items:nth-child(2) {
    display: none;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    background-color:lightgray;
    width:0;
  }

#body .padding {padding:0 0 0 4rem; }
#body {
    padding-top: 55px;
}
body {
    background: #fff;
    color: #2C2C2C;
    font-family: "Adobe Clean" !important;
    font-size: 16px;
    font-weight: normal;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: #4B4B4B;
   font-family: inherit;
   font-weight: 400;
}

h1 { 
   border-bottom: 2px solid #2d2d2d;
   font-size: 28px; 
   margin-bottom: 10px;
   padding-bottom: 10px;
   border:none;
   text-align:left;
}

h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

h3 {
   font-size: 22px;
   margin-bottom: 20px;
}

p {
   font-size: inherit;
   line-height: 1.4;
   margin-bottom: 20px;
}

.pre {
    font-size: 120%;
    
}

#body-inner pre {
    white-space: pre;
}

#sidebar ul li.visited > a .read-icon {
    color: #222; 
    font-weight: normal; 
    line-height: 1.3; 
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: #f8f8f8;
    width: var(--NAVBAR-width);
}
#sidebar #header-wrapper {
    background: #f8f8f8;
    border: none;
    z-index: 9;
    padding: 0;
}

#menu-header {
    height: 55px;
}

#menu-header a {
    display:inline-block;
}

#homelinks {
    background-color: inherit;
    border: none;
}

#sidebar .searchbox {
    border: 1px solid #D3D3D3 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #222 !important;
    font-size: 16px !important;
    padding: 0 !important;
    background: #f8f8f8 !important;
    position: relative !important;
    width: 100% !important;
    max-width: 800px;
}
#sidebar .searchbox input {
    color: #AEAEAE;
}
#sidebar .searchbox ::placeholder {
    color: #AEAEAE;
}

#sidebar .searchbox span {
    color: #222;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: white;
}

#sidebar a {
    color: #222; 
    font-weight: normal; 
    line-height: 1.3; 
}

#sidebar #header-wrapper #menu-header .wy-logo-wrapper a {
    text-align: left;
}
#sidebar a:hover {
    color: #2c2c2c;
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    border-top: 1px solid #EAEAEA !important;
}

#sidebar ul.topics li ul li a {
    background: #fff !important;
    border-right: 1px solid #eaeaea !important;
    color: #2c2c2c;
}
#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);

}

p > strong { font-weight: bold; }

p > img {
   border: none;
   box-shadow: none;
   display: inline;
   margin: 0;
   padding: 0;
   position: relative;
   top: 5px;
}

li > img {
   margin: 0;
   padding: 0;
   box-shadow: none;
   border: none;
   display: inline;
}

td > img {
   border: 0;
   clear: both;
   margin: 0;
   padding: 0;
   box-shadow: none;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('..\\fonts\\AdobeClean-Medium.woff2') format('woff2'),
        url('..\\fonts\\AdobeClean-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('..\\fonts\\AdobeClean-Black.woff') format('woff2'),
        url('..\\fonts\\AdobeClean-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('..\\fonts\\AdobeClean-Black.woff2') format('woff2'),
        url('..\\fonts\\AdobeClean-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('..\\fonts\\AdobeClean-Regular.woff2') format('woff2'),
        url('..\\fonts\\AdobeClean-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Theme Overrides Carry Over CSS */
/* STARTS HERE !!!!!!!! */
.fixedbar .wy-menu-items a { 
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 17px 20px 20px; 
 }
 
 .fixedbar .wy-menu-items a:hover {
    background: #E4E4E4;   
 }

 a.topbarlink {
    color: #2c2c2c;
    font-weight: normal; 
    height: 55px;
 }

 .logo {
    margin:0; 
    padding:0;
    box-shadow: none;
 }

 .fixedbar {
    background: #F8F8F8;
    padding: 0;
    margin-top: 0;
    height: 55px;
    margin-bottom: 0;
    position: fixed;
    width: calc(100% - var(--NAVBAR-width));
    margin-left: var(--NAVBAR-width);
    z-index: 9;
 }

 #top-bar {
    background: none;
    border-radius: 0
    padding: 0;
    height: 0;
    min-height: 3rem;
 }

.is-sticky { display:none;}
 
 .wy-nav-side.scroll,
 .fixedbar.scroll {
    transition: all 300ms ease-in-out;
 }
 
.btn-console:hover {
    background: #0f66d0;
}

/*signin*/
.wy-top-menu-wrapper {
    background: #f8f8f8;
    font-size: 14px;
    min-height: 50px;
    padding: 10px 15px;
    position: fixed;
    z-index: 10;
 }
 
 .wy-top-menu-wrapper .sign-in { display: block; }
 .wy-top-menu-wrapper a { color: #2c2c2c; position: relative; }
 .wy-top-menu-wrapper .logo { font-size: 16px; padding-top: 5px; }
 .wy-top-menu-wrapper div:nth-child(1) { float: left; }
 .wy-top-menu-wrapper div:nth-child(2) { float: right; }

/* ----------------------------
 * BUTTONS
 * ---------------------------- */
 .btn,
 .btn:active {
    border: 2px solid #505050;
    border-radius: 20px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: normal;
    outline: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    zoom: 1;
 }
 .btn-console { margin-right: 10px; }

 .btn-console { 
     background: #106DE0; 
     color: #fff !important;
     border-radius: 20px; 
 }

.wy-logo-wrapper a { 
    background:#F8F8F8;  
    color: #2c2c2c;
    font-size: 15px;
    padding: 15px 20px 14px;
    width: 100%;
    height: 55px;
 }
 
 .wy-logo-wrapper a:hover {
    background: #E4E4E4 !important;
 }
 
 .wy-logo-wrapper .logo {
    margin-right: 5px;
    vertical-align: middle;
 }

 .fixedbar .wy-menu-items a.page-nav-buttons{
    color: #2c2c2c;
    float: right;
 }