<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info -->
<style type="text/css">
    @font-face {
        font-family: 'Adobe Clean';
        src: url('../../../static/fonts/AdobeClean-Medium.woff2') format('woff2'),
            url('../../../static/fonts/AdobeClean-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Adobe Clean';
        src: url('../../../static/fonts/AdobeClean-Black.woff2') format('woff2'),
            url('../../../static/fonts/AdobeClean-Black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Adobe Clean';
        src: url('../../../static/fonts/AdobeClean-Black.woff2') format('woff2'),
            url('../../../static/fonts/AdobeClean-Black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Adobe Clean';
        src: url('../../../static/fonts/AdobeClean-Regular.woff2') format('woff2'),
            url('../../../static/fonts/AdobeClean-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
