<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) -->
<script>
    //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

$(document).ready(function() {
  $("#column-toggler").click(function() {
      var column = document.getElementById('code-column');
      if (column.style.display !== 'none') {
        column.style.display = 'none';
      }
      else {
        var column_content = document.getElementById('right-column-content')
        column.style.display = 'block';
        column.innerHTML = column_content.innerHTML
      }
    }
  );
  $(window).scroll(function () {
    if ($(this).scrollTop() >= 50) {
      $('.fixedbar, .wy-nav-side').addClass('scroll');
      $('.wy-top-menu-wrapper').fadeOut();
    } else {
      $('.fixedbar, .wy-nav-side').removeClass('scroll');
      $('.wy-top-menu-wrapper').fadeIn();
    }
  });
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('#scroll').fadeIn();
    } else {
      $('#scroll').fadeOut();
    }
  });
  $('#scroll').click(function () {
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });
});
</script>

