<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) -->
<script>

const updateRightColumn = (h) => {
  let content = $('h2#code' + h[0]).nextAll('div.right-column-content')
  if (content.length > 0) {
    let column_content = content[0]
    var intoHere = document.getElementById('code-column-content');
    intoHere.innerHTML = column_content.innerHTML
    return true
  }
  else {
    return false
  }
}

const findTopHeader = (headers) => {
  let rtn = null
  Object.entries(headers).forEach((h) => {
    var rect = h[1].getBoundingClientRect();
    if (rtn === null && rect.bottom > 0) {
      rtn = h
      
    }
  })
  return rtn
}
const scrollUpdateRightColumn = () => {
  let new_h = findTopHeader(headers)
  if (new_h){
    if (updateRightColumn(new_h)) 
      currentSelected = new_h
  } 
}
$(document).ready(function() {
  let headers = document.body.getElementsByTagName('h2')
  Object.entries(headers).forEach((h) => {
    h[1].id = 'code' + h[0]
  })
  
  let currentSelected = ['0', headers[0]]
  let new_h = findTopHeader(headers)
  if (new_h){
    if (updateRightColumn(new_h)) 
      currentSelected = new_h
  } 
  
  $(document).on( 'scroll', function(){
    let new_h = findTopHeader(headers)
    if (new_h){
      if (updateRightColumn(new_h)) 
        currentSelected = new_h
    } 
  });
  $("#column-toggler").click(function() {
    var column = document.getElementById('code-column');
  
    if (column.style.display !== 'none') column.style.display = 'none';
    else column.style.display = 'block';
    updateRightColumn(currentSelected)

  });
 
});
</script>

