
<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) -->
<script>

  function getElementTopPosition(element) {
    let positionTop = 0;
    
    try {
      const $element = $(element);
      
      if($element.length === 1) {
        positionTop = Math.round($element.offset().top).toString() + 'px';
      } else {
        console.error('Invalid element. Expected: single element, but found:', $element);
      }
    } catch (err) {
      console.error(err);
    }
  
    return positionTop;
  }
  
$(document).ready(function() {
  // Get offset of initial code samples in main column
  let position_array = []
  let column = $('#code-column')[0];
  let top_header_columns = $('.second-column');
  let column_content = $('.right-column-content');
  let headers = $('h2');


  $("#column-toggler").click(function() {
      let code_samples = $('.tab-panel');

      if ($(column).is(':visible')) {
        $(column).html('').hide();
        
        $(top_header_columns).hide();

        $(column_content).removeClass('hide').addClass('show');
        for (element of code_samples) {
            element.style= "";
          }
      } else {
        let index = 0;

        $(top_header_columns).show();
        $(column).show();

        
        $(column_content).each(function() {
          $(column).append($(this).html());
          $(this).removeClass('show').addClass('hide');
        });

        position_array = []
        if (!position_array.length) {
          for (item of headers) {
            position_array.push($(item).position().top);
          }
        }
        console.log(position_array)


        code_samples.each(function() {
          $(this).css({
              top: `${Math.round(position_array[index] + 60)}px`,
              position: 'absolute',
              width: '95%'
          });
          console.log(this)
          index++;
        });

        $(column).html('').hide();
        $(column_content).each(function() {
          $(column).append($(this).html());
          $(this).removeClass('show').addClass('hide');
        });
        $(column).show();
      }
    }
  )

  $(window).scroll(function () {
    if ($(this).scrollTop() >= 50) {
      $('.fixedbar, .wy-nav-side').addClass('scroll');
      $('.wy-top-menu-wrapper').fadeOut();
    } else {
      $('.fixedbar, .wy-nav-side').removeClass('scroll');
      $('.wy-top-menu-wrapper').fadeIn();
    }

    if ($(this).scrollTop() > 100) {
      $('#scroll').fadeIn();
    } else {
      $('#scroll').fadeOut();
    }

    let mybutton = document.getElementById("scroll");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton ? mybutton.style.display = "block !important" : '';
    } else {
      mybutton ? mybutton.style.display = "none !important" : '';
    }
  });

  $('#scroll').click(function () {
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });

});

</script>